* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    height: 600px;
    margin: auto;
    margin-top: 200px;
    position: relative;
}

.prev, .next {
    width: 100px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: calc(100% - 200px);
    height: 100%;
    background-color: lightblue;
    float: left;
}

img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;

}

.active {
    display: block;
}

.fa-circle {
    color: #38bcb1;
}

.circle-active-img {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
