* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 900px;
    height: 600px;
    margin: auto;
    margin-top: 200px;
}

.prev, .next {
    width: 100px;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: calc(900px - 200px);
    height: 100%;
    background-color: lightblue;
    float: left;
}

img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.active {
    display: block;
}
